<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <div th:replace="/basetemplate::headstuff"></div>
    <title>Title</title>
</head>
<body>
<div th:replace="/basetemplate::headstuff"></div>
<div class="wrapper">
    // Sidebar
    <div class="main-panel">
        // Navbar
        <div class="content">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header text-center">
                                <h4 class="title">Table Big Boy</h4>
                                <p class="category">A table for content management</p>
                                <br />
                            </div>
                            <div class="content table-responsive table-full-width">
                                <table class="table table-bigboy">
                                    <thead>
                                    <tr>
                                        <th >Image</th>
                                        <th >Title</th>
                                        <th class="th-description">Description</th>
                                        <th class="text-right">Category</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="lostItems : ${listed}">
                                        <td><img  th:src="${lostItems.itemImage}" onerror="this.src='/img/2.jpg';" alt="Book" style="width:200px;height:200px;"/>
                                        </td>
                                        <td th:text="${lostItems.itemTitle}"></td>
                                        <td th:text="${lostItems.itemDescription}"></td>
                                        <td th:text="${lostItems.itemType}"></td>

                                        <td class="td-actions">
                                            <button type="button" rel="tooltip" data-placement="left" title="View Post" class="btn btn-info btn-simple btn-icon">
                                                <i class="fa fa-image"></i>
                                            </button>
                                            <button type="button" rel="tooltip" data-placement="left" title="Edit Post" class="btn btn-success btn-simple btn-icon">
                                                <i class="fa fa-edit"></i>
                                            </button>
                                            <button type="button" rel="tooltip" data-placement="left" title="Remove Post" class="btn btn-danger btn-simple btn-icon ">
                                                <i class="fa fa-times"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div><!--  end card  -->
                    </div> <!-- end col-md-12 -->
                </div> <!-- end row -->

            </div>
        </div>




    </div>
</div>


<!--<div class="wrapper wrapper-full-page">
    <div class="full-page register-page" data-color="orange" data-image="/img/full-screen-image-2.jpg">
<div class="content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">
                <div class="card">

                    <div class="toolbar">
                        &lt;!&ndash;        Here you can write extra buttons/actions for the toolbar              &ndash;&gt;
                    </div>

                    <table id="bootstrap-table" class="table">
                        <thead>
                        <th data-field="itemName" data-sortable="true">Item Type</th>
                        <th data-field="servingSize" data-sortable="true">Image</th>
                        <th data-field="itemCategory" data-sortable="true">Item Title</th>
                        <th data-field="servingSize" data-sortable="true">Title</th>
                        <th data-field="servingSize" data-sortable="true">Description</th>

                        </thead>
                        <tbody>
                        <tr th:each="lostItems : ${listed}">
                            <td th:text="${lostItems.itemType}"></td>
                            <td>
                                <img  th:src="${lostItems.itemImage}" onerror="this.src='/img/2.jpg';" alt="Book" style="width:200px;height:200px;"/>
                            </td>
                            <td th:text="${lostItems.itemTitle}"></td>
                            <td th:text="${lostItems.itemDescription}"></td>

                        </tr>

                        </tbody>
                    </table>
                </div>&lt;!&ndash;  end card  &ndash;&gt;
            </div> &lt;!&ndash; end col-md-12 &ndash;&gt;
        </div> &lt;!&ndash; end row &ndash;&gt;

    </div>
</div>
    </div>
</div>-->

<th:block th:replace="/basetemplate::bootstrap4js"></th:block>
</body>

</html>