<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="www.thymeleaf.org"
      xmlns:sec="http://www.tymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <div th:replace="/basetemplate::headstuff"></div>
    <title>Title</title>
</head>
<body>
<div th:replace="/basetemplate::headstuff"></div>

<div class="wrapper">
    <!-- Sidebar -->
    <div class="sidebar" data-color="orange" data-image="/img/full-screen-image-3.jpg">
        <!--

            Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
            Tip 2: you can also add an image using data-image tag

        -->
    </div>
    <nav th:replace="/basetemplate::navbar">
    </nav>
    <div class="main-panel">
        <!-- NavBar-->

        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">

                        <div class="card">
                            <div class="header" >
                                <legend>Report Missing Items</legend>
                            </div>
                            <div class="content">
                                <form method="post" action="#" th:action="@{/processaddedtem}"
                                      th:object="${additem}" class="form-horizontal">

                                    <fieldset>
                                        <input type="hidden" th:field="*{id}" />
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Title</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="itemTitle" th:field="*{itemTitle}">
                                                <span class="help-block">What is the missing item?</span>
                                                <span th:if="${#fields.hasErrors('itemTitle')}"
                                                      th:errors="*{itemTitle}" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Description</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="itemDescription" th:field="*{itemDescription}">
                                                <span class="help-block">A brief description of the lost item and where it was lost.</span>
                                                <span th:if="${#fields.hasErrors('itemDescription')}"
                                                      th:errors="*{itemDescription}" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Image</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="itemImage" th:field="*{itemImage}">
                                                <span class="help-block">Please enter a URL address for an image of the item.</span>
                                                <span th:if="${#fields.hasErrors('itemImage')}"
                                                      th:errors="*{itemImage}" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Category of Lost Item</label>
                                            <div class="col-sm-10">
                                                <div class="radio">
                                                    <label><input data-toggle="radio" type="radio" th:field="*{itemType}" value="clothes" name="optradio1"/>Clothes</label>
                                                </div>
                                                <div class="radio">
                                                    <label><input data-toggle="radio" type="radio" th:field="*{itemType}" value="pet" name="optradio2"/>Pet</label>
                                                </div>
                                                <div class="radio ">
                                                    <label><input data-toggle="radio" type="radio" th:field="*{itemType}" value="other" name="optradio3" />Other</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3"></label>
                                            <div class="col-md-9">
                                                <button type="submit" class="btn btn-fill btn-info">Submit</button>
                                            </div>
                                        </div>
                                    </fieldset>
                                </form>

                            </div>
                        </div>  <!-- end card -->

                    </div> <!-- end col-md-12 -->
                </div> <!-- end row -->

            </div>
        </div>




    </div>
</div>

<th:block th:replace="/basetemplate::bootstrap4js"></th:block>
</body>
</html>