<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <div th:replace="/basetemplate::headstuff"></div>
    <title>Title</title>
</head>
<body>
<div th:replace="/basetemplate::headstuff"></div>
<div class="wrapper">
    <div class="sidebar" data-color="orange" data-image="/img/full-screen-image-3.jpg">
        <!--

            Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
            Tip 2: you can also add an image using data-image tag

        -->
    </div>
    <nav th:replace="/basetemplate::navbar">
    </nav>
    <div class="main-panel">

        <div class="content">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header text-center">
                                <h4 class="title">Table Big Boy</h4>
                                <p class="category">A table for content management</p>
                                <br />
                            </div>
                            <div class="content table-responsive table-full-width">
                                <table class="table table-bigboy">
                                    <thead>
                                    <tr>
                                        <th >Username</th>
                                        <th >First Name</th>
                                        <th >Last Name</th>
                                        <th>Report Missing Item on User's Behalf </th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="appUser : ${userlist}">
                                        <td th:text="${appUser.appUsername}"></td>
                                        <td th:text="${appUser.firstName}"></td>
                                        <td th:text="${appUser.lastName}"></td>

                                        <td >
                                            <a type="button" th:href="@{/addeditem/{id}(id=${appUser.id})}" class="btn btn-dark" role="button">Add</a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div><!--  end card  -->
                    </div> <!-- end col-md-12 -->
                </div> <!-- end row -->
            </div>
        </div>
    </div>
</div>
<th:block th:replace="/basetemplate::bootstrap4js"></th:block>
</body>

</html>